footer {
	background-color: #000;
	height: 210px;
	margin-top: 30px;
	padding-top: 65px;
	text-align: center;
	width: 100%;
}

footer p {
	color: #FFF;
	font-size: 24px;
	margin-bottom: 30px;
	margin-top: 40px;
}

@media screen and (max-width: 768px){
	footer img {
		width: 90px;
	}
	footer p {
		font-size: 18px;
	}
}